
.App {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
}

.App button {
    width: 56px;
    height: 56px;
    background-color: #262E33;
    color: #F4F4F4;
    border: none;
    margin: 2px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.App button:hover {
    background-color: #2EA7FF;
    color: #F4F4F4;
}



.calculation,
#display {
    width: calc(100% - 2px);
    text-align: right;
    padding: 1em;
    margin-bottom: .5em;    
    background-color: #39454D;
    border-radius: 4px;
    color: #2EA7FF;
    font-weight: 600;
}

.calculation {
    color: #F4F4F4;
    height: 1rem;
}

#clear,
#zero {
    width: calc(56px * 2 + 4px);
}

#equals {
    height: calc(56px * 2 + 4px);
}


#decimal,
#zero {
    position: relative;
    top: -60px;
}
