
.App {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
}

.App button {
    width: 60px;
    height: 60px;
}

.calculation,
#display {
    width: 100%;
    text-align: right;
}

#clear,
#zero {
    width: 50%;
}

#equals {
    height: 120px;
}


#decimal,
#zero {
    position: relative;
    top: -60px;
}
